<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Docker Dojo</title>
</head>

<body>
<main role="main" class="container">

    <div class="starter-template">
        <h1>Docker Dojo Sample App</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>
    </div>

    <ol>
        <li th:each="learnedThing : ${learnedThings}" th:text="${learnedThing}"></li>
    </ol>

</main>
</body>
</html>
